Repository regchiu/diablo4-map: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

chore: vite.config.ts base
  vite.config.ts
Due: bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

ci(github actions): workflows/static.yml
  .github/workflows/static.yml
Due: prettier --write --ignore-unknown

style: format
  vite.config.ts
Due: bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

ci(github actions): update static.yml
  .github/workflows/static.yml
Due: prettier --write --ignore-unknown

fix: leaflet tileLayer 404
  src/App.vue
Due: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

feat: leaflet-fullscreen
  package.json
  src/App.vue
  yarn.lock
Due: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

chore: favicon.ico
  index.html
  public/favicon.ico
  public/vite.svg
Due: prettier --write --ignore-unknown

feat: layer control
  src/App.vue
  src/data/markers.ts
Due: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

feat: hide all/show all
  src/App.vue
Due: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

feat: search region
  src/App.vue
Due: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

refactor: optional chaining
  src/App.vue
Due: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

feat: i18n
  .vscode/settings.json
  package.json
  src/App.vue
  src/data/markers.ts
  src/data/regions.ts
  src/i18n.ts
  src/locales/en.json
  src/locales/zh-TW.json
  src/main.ts
  yarn.lock
Due: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

fix: typo
  src/data/regions.ts
Due: bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

feat: update i18n and search bar
  src/App.vue
  src/data/markers.ts
  src/i18n.ts
  src/locales/en.json
  src/locales/zh-TW.json
  src/style.scss
Due: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

feat: search markers
  src/App.vue
  src/locales/en.json
  src/locales/zh-TW.json
Due: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

feat: update i18n
  src/data/markers.ts
  src/locales/en.json
  src/locales/zh-TW.json
Due: bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

feat: complete i18n
  src/data/markers.ts
  src/locales/en.json
  src/locales/zh-TW.json
Due: bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

feat: on mobile
  index.html
Due: prettier --write --ignore-unknown

feat: modify width of search input
  src/App.vue
Due: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

feat: support locales structure
  src/App.vue
  src/i18n.ts
  src/locales/en.json
  src/locales/zh-TW.json
Due: stylelint --fix, bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

chore: modify static.yml
  .github/workflows/static.yml
Due: prettier --write --ignore-unknown

chore: update LICENSE
  LICENSE
Due: prettier --write --ignore-unknown

chore: update static.yml
  .github/workflows/static.yml
Due: prettier --write --ignore-unknown

chore(deps): upgrade vite-plugin-checker
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: update README.md
  README.md
Due: prettier --write --ignore-unknown

chore: remove deprecated extensions
  .vscode/extensions.json
Due: prettier --write --ignore-unknown

chore: bump vite version from 4.5.5 to 5.4.11
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: bump eslint version from 8.44.0 to 9.15.0
  .eslintrc.json
  eslint.config.js
  package.json
  src/types/images.d.ts
  yarn.lock
Due: bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

chore: update deps version
  eslint.config.js
  package.json
  tsconfig.app.json
  tsconfig.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: bump prettier version from 2.8.8 to 3.3.3
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: bump stylelint version from 15.10.1 to 16.10.0
  .stylelintrc.json
  package.json
  stylelint.config.js
  yarn.lock
Due: prettier --write --ignore-unknown

chore: bump sass version from 1.63.6 to 1.81.0
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: bump husky version from 8.0.3 to 9.1.7
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: bump postcss-html version from 1.5.0 to 1.7.0
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: bump terser version from 5.18.2 to 5.36.0
  package.json
  vite.config.ts
  yarn.lock
Due: bash -c vue-tsc --noEmit, prettier --write --ignore-unknown

chore: bump lint-staged version from 13.2.3 to 15.2.10
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Path conditions:
  stylelint --fix: any of: **/*.{scss,vue}
  bash -c vue-tsc --noEmit: any of: **/*.{vue,ts}
  prettier --write --ignore-unknown: any of: **/*
